global
  log /dev/log local0
  maxconn 2048
  user haproxy
  group haproxy

defaults
  log global
  mode tcp
  timeout connect 10s
  timeout client 1m
  timeout server 1m

frontend k8s-api
  bind {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:6443
  default_backend k8s-masters

backend k8s-masters
  balance roundrobin
  option tcp-check
{% for server in haproxy_backend_servers %}
  server {{ server.name }} {{ server.ip }}:{{ server.port }} check
{% endfor %}